{{if .Short -}}
{{.TomorrowDate}}

Gemiddeld: {{.AverageFormatted}} per kWh
Hoog: {{.HighFormatted}} per kWh
Laag: {{.LowFormatted}} per kWh
{{- else -}}
Energieprijzen {{.TomorrowDate}}: gemiddeld {{.AverageFormatted}}, hoog {{.HighFormatted}}, laag {{.LowFormatted}}.

Hoog {{.HighHours}}
Laag {{.LowHours}}

Alle prijzen van morgen per uur:

<blockquote><code>
{{- range .Hourly}}
	{{- .Emoji}} {{.PaddedHour}}:00 – {{.PaddedHour}}:59: {{.FormattedPrice}} per kWh
{{end -}}
</code></blockquote>
{{- end -}}
