{{.Hello}} De energieprijzen van {{.TomorrowDate}} zijn bekend.

Gemiddeld: {{.AverageFormatted}} per kWh {{.AverageHours}}
Hoog: {{.HighFormatted}} per kWh {{.HighHours}}
Laag: {{.LowFormatted}} per kWh {{.LowHours}}